.btn-main {
    display: inline-block; 
    background-color: transparent; 
    border: .75px solid $main-color; 
    padding: 13px 55px; 
    font-size: 36px;
    text-transform: uppercase;  
    margin: 25px; 
    font-weight: 300; 
}