.hero {
    height: 100vh; 
    background-image: url('../../assets/assets/Home-Hero-Image.jpg');
    background-repeat: no-repeat; 
    background-position: -180% 50%;  
    background-size: contain; 
    
}

.slogan {
    width: 50%; 
    // display: grid; 
    border: 1px solid red; 
}