.hero {
    height: 100vh; 
    background-image: url('../../assets/assets/Home-Hero-Image.jpg');
    background-repeat: no-repeat; 
    background-position: -140% 50%;  
    background-size: contain; 
    display: flex; 
    flex-direction: column;
    
}

.slogan {
    width: 50%;  
    margin-left: 615px; 
    margin-top: 5%; 
    .slogan-ttl{
        font-size: 38px; 
        text-align: center;
       
    }

}

.btn-ctn {
    display: flex; 
    justify-content: center;
    align-items: space-around;
    margin-top: 30px; 
}